<link href="https://s3.amazonaws.com/mturk-public/bs30/css/bootstrap.min.css" rel="stylesheet" />
<section class="container" id="Other" style="margin-bottom: 15px; padding: 10px; font-family: Verdana, Geneva, sans-serif; color: rgb(51, 51, 51);">
<div class="row col-xs-12 col-md-12" style=""><!-- Instructions -->
<div class="panel panel-primary" style="font-size: 0.9em;">
<div class="panel-heading"><strong>Instructions</strong></div>

<div class="panel-body">
<p>In this HIT you will be playing a multi-player negotiation&nbsp;strategy game. Your goal is to converse and strike deals with other players in the game using the chat feature. When the game begins you will be given &quot;clean money&quot;,&nbsp;&quot;dirty money&quot;,&nbsp;&quot;Precious metals&quot;,&nbsp;&quot;artwork&quot; and &quot;property&quot;. You buy/sell each of these commodities with other turkers <span style="font-family: Verdana, Geneva, sans-serif; font-size: 11.7px;">&nbsp;and finish the game. You&#39;re free to buy as much and sell as many times. You can play the game as much as you can and as many times.&nbsp;</span></p>

<p>&nbsp;</p>

<h5><span style="font-family:verdana,geneva,sans-serif;"><span style="font-size: 0.9em;">You win bonus by striking the right deal with others. You win the highest bonus by accumulating the &quot;Clean money&quot;. The &quot;dirty money&quot; wins you the least bonus. The other products such as &quot;Precious metals&quot;, &quot;Property&quot; and the &quot;Artwork&quot; will vary in price and your bonus will depend&nbsp;on the transactions made on the current market price. These prices change fast.&nbsp;</span></span></h5>

<p>&nbsp;</p>

<p>Your task:&nbsp;</p>

<ul>
	<li>Deal and negotiate buying and selling of your collection.&nbsp;</li>
	<li>Buy low (Buy property when Current Market Price is low) &amp; Sell high (Sell when the Current market price for the items are high). You will get a high bonus.&nbsp;</li>
	<li><strong>ALL your properties increase your bonus. Your final bonus depends on the Current Market Price for the current items you own.&nbsp; </strong></li>
	<li>Keep in mind, you can finish playing the game&nbsp;after doing at least 5 transactions and after chatting with the users about these transactions. If we don&#39;t see your chat in our database your task will be rejected.&nbsp; Irrespective of the bonus you will not get any money if you don&#39;t chat with others.&nbsp;</li>
</ul>

<p>Your HIT will be rejected if:&nbsp;</p>

<ul>
	<li>You do not perform at least 5 transactions.&nbsp;</li>
	<li>If you&#39;re being dishonest. Dishonesty is when you promise to transfer money/commodity to other player and you don&#39;t do it.</li>
	<li>If you&#39;re reported by others&nbsp;about&nbsp;your dishonest gameplay your HIT will be rejected.&nbsp;</li>
	<li>You do not use the chat.&nbsp;</li>
	<li>If you&#39;re abusive.</li>
</ul>

<h5><span style="font-family:tahoma,geneva,sans-serif;"><span style="font-family:arial,helvetica,sans-serif;"><span style="font-size: 0.9em;">Some tips:&nbsp;</span></span></span></h5>

<ul>
	<li>Your ability to win the maximum bonus depends on how well you negotiate using chat.</li>
	<li>BUY LOW AND SELL HIGH.&nbsp;</li>
	<li>As your bonus payment depends on your clean money (so will other players). So, you could sell your commodity for less of clean money and more of dirty money.&nbsp;</li>
</ul>

<p>&nbsp;</p>

<h1><em>HOW TO PLAY</em></h1>

<p><br />
STEP 1: CLICK ON THIS LINK TO REGISTER. You will need to choose a username.&nbsp;</p>
</div>

<p><img alt="a" src="http://manuvinakurike.com/images/step1.png" width="600px" /></p>

<p>&nbsp;STEP 2: SELECT A USERNAME AND REMEMBER IT. <span style="font-family: Verdana, Geneva, sans-serif; font-size: 11.7px;">CLICK SUBMIT BUTTON ONCE YOU SEE THE GREEN CHECKBOX.&nbsp;</span> You will need this to play the game and submit at the end.&nbsp;</p>

<p>&nbsp;</p>

<p><img alt="a" src="http://manuvinakurike.com/images/step2.png" width="600px" /></p>

<p>STEP 3: Type the username from STEP 2. And click LOGIN.&nbsp;</p>

<p><img alt="a" src="http://manuvinakurike.com/images/step3.png" width="600px" /></p>

<p>STEP 4: YOU WILL BE IN THIS PAGE FOR REST OF THE GAME. Please use the &quot;READ ME&quot; &nbsp;for rules and how to play the game. Use chat to speak to others.&nbsp;</p>

<p>&nbsp;</p>

<p><img alt="a" src="http://manuvinakurike.com/images/nint.png" width="600px" /> <!-- End Instructions --><!-- Content Body --></p>
</div>

<section style="">
<fieldset style="">
<p>GAME URL:&nbsp;<a href="http://172.104.189.19:8080/aml/SimpleLoginForm.html">http://172.104.189.19:8080/aml/SimpleLoginForm.html</a></p>

<p>COPY PASTE THE ABOVE LINK USING <u>GOOGLE CHROME BROWSER</u>.&nbsp;</p>

<p>&nbsp;</p>

<p><span style="font-size: 10.53px;"><b>1.Please enter the username you entered when playing the game. Please keep in mind we will not be able to pay you if you do not enter this field. &nbsp;</b></span></p>
</fieldset>

<fieldset style="font-size: 0.9em;">
<div class="input-group"><input class="form-control" name="Q1FreeTextInput" size="120" type="text" /></div>
</fieldset>

<section style="">
<fieldset style=""><span style="font-size: 10.53px;"><b>2. If any person cheated by not transferring the amount, please tell us their username(s):&nbsp;</b></span></fieldset>

<fieldset style="font-size: 0.9em;">
<div class="input-group"><input class="form-control" name="Q2FreeTextInput" size="120" type="text" /></div>
</fieldset>

<fieldset style="font-size: 0.9em;"><label>3. Please enter any other feedback/comments/complaints:</label><textarea class="form-control" cols="120" name="Q3MultiLineTextInput" rows="5"></textarea></fieldset>
</section>
<!-- End Content Body --></section>
</div>
</section>
<style type="text/css">fieldset { padding: 10px; background:#fbfbfb; border-radius:5px; margin-bottom:5px; }
</style>